<div class="container mt-5 mb-5">
  <h1>Contact</h1>
  <div class="row">
    <form class="col-lg-8">
      <div class="row">
        <div class="col-lg-6">
          <input
            type="text"
            class="form-control mt-2 mb-2"
            placeholder="Enter First Name"
          />
        </div>
        <div class="col-lg-6">
          <input
            type="text"
            class="form-control mt-2 mb-2"
            placeholder="Enter Last Name"
          />
        </div>
        <div class="col-lg-12">
          <input
            type="text"
            class="form-control mt-2 mb-2"
            placeholder="Enter Email ID"
          />
        </div>
        <div class="col-lg-12">
          <input
            type="text"
            class="form-control mt-2 mb-2"
            placeholder="Enter Mobile"
          />
        </div>

        <div class="col-lg-12">
          <button class="btn btn-dark">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
