<div class="container mt-5 mb-5">
  <h1 class="text-center">About</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, reiciendis
    ut corrupti temporibus similique esse tenetur non repellat, laudantium
    corporis omnis nemo libero, exercitationem molestias. Eius ea quam ratione
    rem? Aperiam quibusdam alias deserunt magnam, id minima doloribus eaque
    explicabo fugiat quidem tempora itaque. Commodi corporis illum ad
    praesentium est fuga beatae iure numquam ratione cupiditate inventore, earum
    doloribus veritatis. Laboriosam ratione voluptatibus doloremque repellat
    quae accusamus ullam enim perspiciatis cum possimus officiis, fugiat, cumque
    illo asperiores quasi error repudiandae libero tempora? Provident
    exercitationem iure modi aut eius veniam earum. Minima veniam est eius
    nostrum nesciunt, porro necessitatibus animi laborum optio dolorem accusamus
    ex alias voluptates suscipit enim dolore eaque quia magni, consequuntur a
    provident incidunt sit reprehenderit. Ducimus, perspiciatis.
    <br />
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione, numquam
    itaque asperiores beatae culpa, soluta explicabo cumque ullam corporis a
    saepe quas libero harum, optio fugit consequuntur repudiandae necessitatibus
    unde? Enim veniam aperiam voluptatem dolorum consequuntur recusandae,
    expedita excepturi. Vero, sapiente fuga molestiae ipsa fugit illo
    exercitationem quasi quis obcaecati non quidem aliquid deserunt dolore
    repellendus quas nihil vitae eligendi?
    <br />
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi officiis
    tenetur vero cum illo nobis reprehenderit? Rem deleniti obcaecati minima
    sequi provident, dolorum optio consequatur enim accusantium, voluptate illo
    laudantium. Fugiat ullam magnam delectus necessitatibus similique, beatae
    tempora a incidunt pariatur repudiandae assumenda totam quaerat laboriosam
    exercitationem nisi iusto nihil et in quam officia natus, maxime velit.
    Deleniti, deserunt enim? Obcaecati officiis dolorem, quasi adipisci quos
    aperiam ex, deleniti provident quis consequatur labore minus facilis
    incidunt enim dolorum in odio qui aliquid exercitationem? Ea, assumenda.
    Odit quidem voluptatem voluptate aliquid!
  </p>
</div>
